.about {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100%;

}
.about-hero-box {
	border: 1px solid red;
	background: #000;
	height: 300px;
}
.about p {
	height: 100%;
}
.about div {
	border: 1px solid red;
}