.about {
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 100vh;
}
.about p {
}
.side {
	background: pink;
	width: 30%;
	height: 100vh;
	padding: 15px 30px;
}
.article {
	background: blue;
	width: 70%;
	height: 100vh;
	padding: 15px 30px;
}