.package-module {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	background: #ccc;
	border: 1px solid #aaa;
}
.package-module button {
	background: white;
	border: 1px solid #ddd;
	height: 150px;
	width: 250px;
	box-shadow: 1px 1px 1px #000;
	line-height: 0px;
}
.package-module img {
	width: 35px;
	height: 35px;
	padding: 0px 0px;
	margin: 0px 0px;
}

/*==========Media Queries==========*/
@media screen and (min-width: 1240px){
	.package-module {
		display: flex;
		flex-direction: column;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 30px;
	}
}
@media screen and (min-width: 945px) and (max-width: 1240px){
	.sidebar {
		display: flex;
		flex-direction: column;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 30px;
	}	
}
@media screen and (min-width: 760px) and (max-width: 945px){
	.sidebar {
		display: flex;
		flex-direction: column;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 30px;
	}
}
@media only screen and (max-width: 760px) {
	li {
		font-size: 18px;
	}
	.sidebar {
		display: flex;
		flex-direction: column;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 20px;
		margin: 10px 0;
	}
}