.package-module {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	background: #ccc;
	border: 1px solid #aaa;
}
.package-module button {
	background: white;
	border: 1px solid #ddd;
	height: 150px;
	width: 250px;
	box-shadow: 1px 1px 1px #000;
	line-height: 0px;
}
.package-module img {
	width: 35px;
	height: 35px;
	padding: 0px 0px;
	margin: 0px 0px;
}