.shop-module {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	height: 300px;
	background: #fff;
}
.shop-module div {
	height: 100%;
}
.shop-module button {
	background: #fac7c6;
	color: #000;
	width: 125px;
	height: 50px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 1px #000;
}
.shop-module-img {
	border: 1px solid red;
	background: #000;
	width: 75%;
}
.shop-module-text {
	border: 1px solid red;
	display: flex;
	flex-grow: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}