html {
	height: 100%;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*font guidelines*/
h1 {
	font-size: 72px;
	text-shadow: 1px 1px 1px #000;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 16px;
}