#logo {
	text-align: left; 
	flex: 1; 
	font-size: 36px; 
	/*font-family: 'Abril Fatface', cursive;*/
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 1px #ccc;
	/*font-family: 'Abel', sans-serif;*/
}
header div {
	margin: 10px;
}
header a {
	margin-right: 10px;
}
/*
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="text-align: left; font-family: 'Abel', sans-serif; font-size: 30px"*/