header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	box-shadow: 1px 2px 5px 3px #333;
	font-family: 'Dosis', sans-serif;
	z-index: 2;
	border: 1px solid red;
}
header div {
	margin: 0px 0px;
	display: inline-block;
	border: 1px solid red;
	padding: 0px 0px;
}
header a {
	/*margin-right: 15px;*/
	color: black;
}
header img {
	width: 40px;
	height: 35px;
	padding: 0px 0px;
}
#brand-name, #brand-logo {
	text-align: center; 
	flex: 1; 
	font-size: 35px;
	font-weight: 100; 
	font-family: 'Dosis', sans-serif;
	border: 1px solid red;
}
/*.hamburger {
	font-size: 30px;
	margin-right: 0px 0px;
}*/
.header-links {
	display: block;
}
.header-links a {
	margin-right: 15px;
}
/*
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="font-family: 'Lato', sans-serif; font-weight: 200"
// style="text-align: left; font-family: 'Abel', sans-serif; font-size: 30px"*/

/*==========Media Queries==========*/
@media screen and (min-width: 1240px){
	.header {
		display: flex;
		flex-direction: row;
	}
	.header-hamburger {
		display: none;
		margin-right: 15px;
	}
	#brand-name {
		font-size: 35px;
	}
	header img {
		width: 40px;
		height: 35px;
		padding: 0px 0px;
	}
}
@media screen and (min-width: 945px) and (max-width: 1240px){
	.header {
		display: flex;
		flex-direction: row;
	}	
	.header-hamburger {
		display: none;
	}
	#brand-name {
		font-size: 28px;
	}
	header img {
		width: 40px;
		height: 35px;
		padding: 0px 0px;
	}
}
@media screen and (min-width: 760px) and (max-width: 945px){
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.header-links {
		display: none;
	}
	.header-hamburger {
		display: block;
	}
	#brand-name {
		font-size: 22px;
	}
	header img {
		width: 40px;
		height: 35px;
		padding: 0px 0px;
	}
}
@media only screen and (max-width: 760px) {
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.header-links {
		display: none;
	}
	.header-hamburger {
		display: block;
	}
	#brand-name {
		font-size: 24px;
	}
	header img {
		width: 30px;
		height: 25px;
		padding: 0px 0px;
	}
}